{
    frankenphp
    order php_server before file_server
    auto_https off
}

:{$PORT} {
    bind 0.0.0.0
    # Use relative path 'public/' instead of absolute '/app/public'
    root * public/ 
    encode zstd br gzip
    php_server
    log
}